@font-face {
    font-family: "numerique";
    src: url('../FONT/DJB Get Digital.ttf') format('truetype');
}

#contener {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid white;
    font-family: 'Cinzel', serif;
    background-image: url('../IMAGES/bckbandeau.jpg');
    background-repeat: repeat;
}


/*************************************
************** BANDEAU ***************
*************************************/

#bandeau {
    width: 100%;
    height: auto;
    display: flex;
    border: 1px solid white;
    justify-content: space-between;
}

#logo{
    height: 100px;
    width: auto;
    margin: 0 0 0 10px;
    padding: 10px;
}

h1 {
    font-family: 'Cinzel', serif;
    color: white;
}

/*ul {*/

    /*display: inline-flex;*/
    /*justify-content: space-around;*/
/*}*/

li {
    padding: 0 10px 0 10px;
    font-size: 1.5em;
}

#menu {
    font-weight: bolder;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-right: 50px;
    list-style: none;
    justify-content: space-around;
}


/*************************************
************** ZONE JEU **************
*************************************/
#zoneJeu {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    background-image: url("../IMAGES/tablePoker.png");
    background-repeat: round;
    background-size: cover;

}


/*************************************
*********** ZONE CAGNOTTE ************
*************************************/
#zoneCagnotte {
    width: 20%;
    background-color: #9fb4f2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 10px 25px;
    background-image: url('../IMAGES/argent.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#texteCagnotte {
    display: block;
    align-content: flex-end;
    justify-items: left;
    color: white;
}

.memeligne{
    display: flex;
    flex-wrap: nowrap;
}

.texte {
    font-family: 'Cinzel', serif;
    font-size: 1.5em;
    padding: 0;
    margin-bottom: 0;

}

#cagnotte {
    font-family: "numerique", serif;
    font-size: 2em;
    background-color: black;
    border: 4px inset silver;
    height: 35px;
    width: 200px;
    text-align: right;
    margin: 0;
    padding: 0 10px 0 10px;
    color: white;
}

#monnaie {
    font-size: 2em;
    margin: 0 0 0 5px;
}


/*************************************
*********** TAPIS BOUTON *************
*************************************/
#zoneTapisBouton {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
}

#zoneTapis {
    flex: 1;
}

#zoneBouton {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    list-style: none;
}

#zoneBouton li button{
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    font-size: .6em;
    font-family: "numerique", serif;
    margin: 10px 0 10px 0;
    box-shadow: 0 5px 0 #ae100e;
    outline: none;
}

#zoneBouton li button:active{
    box-shadow: none;
    position: relative;
    top: 5px;
    color: greenyellow;
}

/*************************************
************* ZONE MISE **************
*************************************/
#split{


}

/*************************************
************* ZONE MISE **************
*************************************/
#zoneMise {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url('../IMAGES/jetons.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#mise {
    display: flex;
    flex-direction: column-reverse;
    list-style: none;
}

#mise ul{
    justify-content: inherit;
}

#mise10 button {
    background-size: contain;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    font-size: 1em;
    font-family: "numerique", serif;
    margin: 5px;
    box-shadow: 0 7px 0 #a5a5a5;
    outline: none;
}

#mise20 button {
    background-size: contain;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    font-size: 1em;
    font-family: "numerique", serif;
    margin: 5px;
    box-shadow: 0 7px 0 #00391c;
    outline: none;
}

#mise50 button {
    background-size: contain;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    font-size: 1em;
    font-family: "numerique", serif;
    margin: 5px;
    box-shadow: 0 7px 0 #b46126;
    outline: none;
}

#mise100 button {
    background-size: contain;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    font-size: 1em;
    font-family: "numerique", serif;
    margin: 5px;
    box-shadow: 0 7px 0 #831d1c;
    outline: none;
}

#mise10 button{
    background-image: url("../IMAGES/jeton_vierge.png");
}

#mise20 button{
    background-image: url("../IMAGES/jeton_vert.png");
}

#mise50 button{
    background-image: url("../IMAGES/jeton_jaune.png");
}

#mise100 button{
    background-image: url("../IMAGES/jeton_rouge.png");
}

#mise button:active{
    box-shadow: none;
    position: relative;
    top: 7px;
    color: greenyellow;
}

#valider{
    color: white;
    background-image: url("../IMAGES/jouer.png");
    background-size: contain;
    background-repeat: round;
    width: 125px;
    height: 70px;
    border-radius: 10px;
    font-size: 1.5em;
    font-family: "numerique", serif;
    margin: 5px 0 15px 40px;
    box-shadow: 0 5px 0 #439216;
    outline: none;
}

#valider:active{
    box-shadow: none;
    position: relative;
    top: 5px;
    color: greenyellow;
}