@font-face {
    font-family: "numerique";
    src: url('../FONT/DJB Get Digital.ttf') format('truetype');
}

#contener {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background-color: red;
    background-size: 100% auto;
    border: 1px solid white;
    font-family: 'Cinzel', serif;
}


/*************************************
************** BANDEAU ***************
*************************************/

#bandeau {
    width: 100%;
    display: flex;
    border: 1px solid white;
    justify-content: space-between;
    background-color: #7a2a1d;
}

h1 {
    font-family: 'Cinzel', serif;
    color: white;
}

ul {
    list-style: none;
    display: inline-flex;
    justify-content: space-around;
}

li {
    padding: 0 10px 0 10px;
    font-size: 1.5em;
}

#menu {
    padding-top: 50px;
}


/*************************************
************** ZONE JEU **************
*************************************/
#zoneJeu {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
}


/*************************************
*********** ZONE CAGNOTTE ************
*************************************/
#zoneCagnotte {
    width: 20%;
    background-color: #9fb4f2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 25px 25px;
}

#texteCagnotte {
    display: block;
    align-content: flex-end;
    justify-items: left;
}

.memeligne{
    display: flex;
    flex-wrap: nowrap;
}

.texte {
    font-family: 'Cinzel', serif;
    font-size: 1.5em;
    padding: 0;
    margin-bottom: 0;

}

#cagnotte {
    font-family: "numerique", serif;
    font-size: 2em;
    background-color: black;
    border: 4px inset silver;
    height: 35px;
    width: 200px;
    text-align: right;
    margin: 0;
    padding: 0 10px 0 10px;
    color: white;
}

#monnaie {
    font-size: 2em;
    margin: 0 0 0 5px;
}


/*************************************
*********** TAPIS BOUTON *************
*************************************/
#zoneTapisBouton {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
    background-color: #f438ff;
}

#zoneTapis {
    background-color: chartreuse;
    flex: 1;
}

#zoneBouton {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #6dfff3;
}

#zoneBouton li button{
    background-color: red;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    font-size: 1em;
    font-family: "numerique", serif;
    margin: 10px 0 10px 0;
    box-shadow: 0 5px 0 #ae100e;
    outline: none;
}

/*************************************
************* ZONE MISE **************
*************************************/
#split{


}

/*************************************
************* ZONE MISE **************
*************************************/
#zoneMise {
    width: 20%;
    background-color: #9fb4f2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#mise {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#mise button {
    background-color: red;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    font-size: 1.5em;
    font-family: "numerique", serif;
    margin: 5px;
    box-shadow: 0 5px 0 #ae100e;
    outline: none;
}

#mise button:active{
    box-shadow: none;
    position: relative;
    top: 5px;
}